

.me-0 {
  margin-inline-end: 0rem;
}

.me-0\.5 {
  margin-inline-end: 0.5rem;
}

.me-1 {
  margin-inline-end: 1rem;
}

.me-1\.5 {
  margin-inline-end: 1.5rem;
}

.me-2 {
  margin-inline-end: 2rem;
}

.me-3 {
  margin-inline-end: 3rem;
}

.me-4 {
  margin-inline-end: 4rem;
}

.me-5 {
  margin-inline-end: 5rem;
}

.me-6 {
  margin-inline-end: 6rem;
}

.me-7 {
  margin-inline-end: 7rem;
}

.me-8 {
  margin-inline-end: 8rem;
}

.me-9 {
  margin-inline-end: 9rem;
}

.me-10 {
  margin-inline-end: 10rem;
}