

.mx-0 {
  margin-inline: 0rem;
}

.mx-0\.5 {
  margin-inline: 0.5rem;
}

.mx-1 {
  margin-inline: 1rem;
}

.mx-1\.5 {
  margin-inline: 1.5rem;
}

.mx-2 {
  margin-inline: 2rem;
}

.mx-3 {
  margin-inline: 3rem;
}

.mx-4 {
  margin-inline: 4rem;
}

.mx-5 {
  margin-inline: 5rem;
}

.mx-6 {
  margin-inline: 6rem;
}

.mx-7 {
  margin-inline: 7rem;
}

.mx-8 {
  margin-inline: 8rem;
}

.mx-9 {
  margin-inline: 9rem;
}

.mx-10 {
  margin-inline: 10rem;
}