

.my-0 {
  margin-block: 0rem;
}

.my-0\.5 {
  margin-block: 0.5rem;
}

.my-1 {
  margin-block: 1rem;
}

.my-1\.5 {
  margin-block: 1.5rem;
}

.my-2 {
  margin-block: 2rem;
}

.my-3 {
  margin-block: 3rem;
}

.my-4 {
  margin-block: 4rem;
}

.my-5 {
  margin-block: 5rem;
}

.my-6 {
  margin-block: 6rem;
}

.my-7 {
  margin-block: 7rem;
}

.my-8 {
  margin-block: 8rem;
}

.my-9 {
  margin-block: 9rem;
}

.my-10 {
  margin-block: 10rem;
}