

.pe-0 {
  padding-inline-end: 0rem;
}

.pe-0\.5 {
  padding-inline-end: 0.5rem;
}

.pe-1 {
  padding-inline-end: 1rem;
}

.pe-1\.5 {
  padding-inline-end: 1.5rem;
}

.pe-2 {
  padding-inline-end: 2rem;
}

.pe-3 {
  padding-inline-end: 3rem;
}

.pe-4 {
  padding-inline-end: 4rem;
}

.pe-5 {
  padding-inline-end: 5rem;
}

.pe-6 {
  padding-inline-end: 6rem;
}

.pe-7 {
  padding-inline-end: 7rem;
}

.pe-8 {
  padding-inline-end: 8rem;
}

.pe-9 {
  padding-inline-end: 9rem;
}

.pe-10 {
  padding-inline-end: 10rem;
}