.ps-0 {
  padding-inline-start: 0rem;
}

.ps-0\.5 {
  padding-inline-start: 0.5rem;
}

.ps-1 {
  padding-inline-start: 1rem;
}

.ps-1\.5 {
  padding-inline-start: 1.5rem;
}

.ps-2 {
  padding-inline-start: 2rem;
}

.ps-3 {
  padding-inline-start: 3rem;
}

.ps-4 {
  padding-inline-start: 4rem;
}

.ps-5 {
  padding-inline-start: 5rem;
}

.ps-6 {
  padding-inline-start: 6rem;
}

.ps-7 {
  padding-inline-start: 7rem;
}

.ps-8 {
  padding-inline-start: 8rem;
}

.ps-9 {
  padding-inline-start: 9rem;
}

.ps-10 {
  padding-inline-start: 10rem;
}
