.px-0 {
  padding-inline: 0rem;
}

.px-0\.5 {
  padding-inline: 0.5rem;
}

.px-1 {
  padding-inline: 1rem;
}

.px-1\.5 {
  padding-inline: 1.5rem;
}

.px-2 {
  padding-inline: 2rem;
}

.px-3 {
  padding-inline: 3rem;
}

.px-4 {
  padding-inline: 4rem;
}

.px-5 {
  padding-inline: 5rem;
}

.px-6 {
  padding-inline: 6rem;
}

.px-7 {
  padding-inline: 7rem;
}

.px-8 {
  padding-inline: 8rem;
}

.px-9 {
  padding-inline: 9rem;
}

.px-10 {
  padding-inline: 10rem;
}
