

.py-0 {
  padding-block: 0rem;
}

.py-0\.5 {
  padding-block: 0.5rem;
}

.py-1 {
  padding-block: 1rem;
}

.py-1\.5 {
  padding-block: 1.5rem;
}

.py-2 {
  padding-block: 2rem;
}

.py-3 {
  padding-block: 3rem;
}

.py-4 {
  padding-block: 4rem;
}

.py-5 {
  padding-block: 5rem;
}

.py-6 {
  padding-block: 6rem;
}

.py-7 {
  padding-block: 7rem;
}

.py-8 {
  padding-block: 8rem;
}

.py-9 {
  padding-block: 9rem;
}

.py-10 {
  padding-block: 10rem;
}